html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

td:not([align]),
th:not([align]) {
  text-align: left;
}

html {
  font-size: 16px;
  text-rendering: optimizeLegibility;
}

article,
aside,
figure,
footer,
header,
hgroup,
section {
  display: block;
}

code,
pre {
  font-family: monospace;
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
}

body {
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

/*start*/

body{
	margin: 0;
	overflow: hidden;
}

/*PaTI image*/

.background{
	width: 100%;
	position: absolute;
}

.object{
  /*display: inline-block;*/
	filter: drop-shadow(5px 5px 5px #000);
}

.object img{
  position : absolute;
  width: 10%;
  margin: 10px;
  animation-name: haha;
  -webkit-animation-name: haha;
  animation-duration: 8s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}


#cherry{
  top: 10px;
  left: 8%;
}

#cactus{
  top: 160px;
  left: 8%;
}
#orange{
  top: 310px;
  left: 8%;
}
#apple{
  top: 460px;
  left: 8%;
}
#mushroom{
  top: 610px;
  left: 8%;
}
#pot{
  top: 10px;
  left: 78%;
}

#socks{
  top: 160px;
  left: 78%;
}

#pizza{
  top: 310px;
  left: 78%;
}

#jam{
  top: 460px;
  left: 78%;
}



/*@keyframes haha {
  from {left: 8%;}
  to { left: 78%px;}
}

@-webkit-keyframes haha {
  from {left: 8%;}
  to { left: 78%;}
}

/*pop-up*/

.iam{
	position: relative;
	font-family: optima, sans-serif;
	font-size: 40px;
	text-align: center;
	padding-top: 100px;
}

